<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Largest cats breed library that content detail information" />
    <meta name="keywords" content="@ViewData["Title"]Cat, Breed, Best breed, Cats, Breeds, Cat Breed, cats breeding, Rex cat" />
    <meta name="author" content="demfoss" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/breedDetail.css" rel="stylesheet" type="text/css" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">

    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tools.css">

</head>
<body>
    <header>
        <div class="cat-header">
            <div class="header-container">
                <a href="/" class="header-logo">
                    <img class="header-logo-img" src="/img/site/catlib.png" />
                </a>
                <div class="header-nav">
                    <a href="/" class="nav-link-main">Home</a>
                    <a onclick="addSubMenu()" class="nav-link-href">Tools</a>
                    <div class="nav-link-submenu">
                        <a href="/tools/CalorieCalc" class="nav-link-href">News</a>
                        <a href="/tools/CalcAge" class="nav-link-href">CalcAge</a>
                        <a href="/News/NewsList" class="nav-link-href">Test3</a>
                    </div>
                    <a href="/tools/CalorieCalc" class="nav-link-href">Calorie Calculator</a>
                    <a href="/tools/CalcAge" class="nav-link-href">Cat's age converter</a>
                    <a href="/tools/CatNameGenerator" class="nav-link-href">Cat Name Generator</a>
                    <a href="/tools/DiseasessList" class="nav-link-href">Diseases List</a>

                    <a href="/tools/DangerousProductsList" class="nav-link-href">Dangerous Products List</a>
                    <a href="/News/NewsList" class="nav-link-href">Cat Articles</a>
                    <a href="/AdminPanel/AdminPanel" class="nav-link-href">Admin Panel</a>
                    <a href="/tools/CalcFood" class="nav-link-href">Food Calculator</a>
                    <a href="/tools/CatNamesCategories" class="nav-link-href">Cat Names</a>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-wrapper">
            <div class="footer-container-left">
                <img src="~/img/site/catlib.png" class="footer-container-logo-img" />

                <div class="footer-description"> <span>2022 CatLib Corporation. All Rights Reserved</span></div>
            </div>
            <div class="footer-container-contacts">
                <h3 class="footer-contact-us">Contact us</h3>
                <div class="footer-social">
                    <a href="/"><i class="fa-brands fa-telegram footer-icon"></i></a>
                    <a href="/"><i class="fa-brands fa-google footer-icon"></i></i></a>
                    <a href="/"><i class="fa-brands fa-instagram footer-icon"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="/js/index.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->
    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>*@
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

</body>
</html>


