@{
    ViewData["Title"] = "Calculate Your Cat's Age in Human Years";
}

<div>
    <div><h3>Calculate Your Cat's Age in Human Years</h3></div>
    <div>
        <p>
            Like with humans, a cat’s calorie requirements depend on many factors, such as ages, activity, sex,body condition and etc.
            This tool was developed to quickly calculate calories for your pet.
        </p>
    </div>

    <div class="calc-container">
        <div class="calc-weight">
            <div class="calc-weight-input-container">
                <label class="calc-weight-label" for="calc-weight-input">Age</label>
                <input class="calc-weight-input" id="calc-age-input" type="text" name="Age" />
            </div>
            <div class="calc-weight-select-container">
                <label class="calc-weight-label">Month</label>
                <input class="calc-weight-input" id="calc-month-input" type="text" name="month" />
            </div>
        </div>
        <div>
            <button class="calc-weight-button" id="calc-weight-button" onclick="return validateForm()" type="submit">Calculate</button>
        </div>
    </div>
    <div class="result-container">
        <h1 class="result-container-header">Estimated Initial Daily Calories</h1>
        <div class="calc-result"><h3 id="calc_result"></h3></div>
    </div>
    <div>
        <h3>Ideal Weight Means A Longer and Happier Life</h3>
        <p>Achieving and maintaining healthy body condition scores in pets has been proven to reduce the risk of illness and add to the longevity and general well-being of the animal.</p>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function validateForm() {
            debugger;
            let res = $("#calc-month-input").val();
            if (res > 11) {
                alert("Value must be less than 12 months")
                return false;
            }
            else {

                $.ajax({
                    type: "POST",
                    url: "/Tools/CalcAge",
                    data: {
                        "age": $("#calc-age-input").val(),
                        "month": $("#calc-month-input").val()
                    },
                    success: function (response) {
                        let res = JSON.stringify(response);
                        $("#calc_result").html(res);
                    }


                });

            }
        }
    </script>
}