@{
    ViewData["Title"] = "Calculate Your Cat's Age in Human Years";
}
<div class="calc-wrapper">
    <div class="calc-header">
        <h3 class="cat-detail-header-name-value">Calculate Your Cat's Age in Human Years</h3>
        <p class="calc-text">
            Like with humans, a cat’s calorie requirements depend on many factors, such as ages, activity, sex,body condition and etc.
            This tool was developed to quickly calculate calories for your pet.
        </p>
    </div>
    <div class="calc-main">
        @*        <p class="calc-calories-title">
        Like with humans, a cat’s calorie requirements depend on many factors, such as ages, activity, sex,body condition and etc.
        This tool was developed to quickly calculate calories for your pet.
        Like with humans, a cat’s calorie requirements depend on many factors, such as ages, activity, sex,body condition and etc.
        This tool was developed to quickly calculate calories for your pet.
        </p>*@
        <div class="calc-container-age">
            <h3 class="calc-container-title">Calculate Your Cat's Age</h3>
            <div class="calc-data">
                <input class="calc-input" id="calc-age-input" type="text" name="Age" placeholder="Enter Age" />
                <input class="calc-input" id="calc-month-input" type="text" name="month" placeholder="Enter Month" />
            </div>
            <div class="calc-button-block">
                <button class="calc-age-button" id="calc-age-button" type="submit">Calculate</button>
            </div>
        </div>
        <div class="result-container">
            <h1 class="result-container-header-age">Age of your cat</h1>
            <div class="circular-progress-age">
                <p class="circular-progress-value-age">kg</p>
                <p class="circular-progress-kg"></p>
            </div>
        </div>
    </div>
</div>
<div class="calc-info">
    <h3 class="calc-info-title-age">Ideal Weight Means A Longer and Happier Life</h3>
    <p class="calc-info-text">Achieving and maintaining healthy body condition scores in pets has been proven to reduce the risk of illness and add to the longevity and general well-being of the animal.</p>
    <button class="calc-age-info-open-block">
        <img src="~/img/assets/cat.png" alt="cat" class="calc-info-open-img" />
        <h3 class="calc-info-open">How to calculate daily calorie for cat</h3>
        <span class="calc-info-span-age">+</span>
    </button>
    <p class="calc-age-info-hidden">Hu healthy body condition scores in pets has been proven to reduce the risk of illness and add to the longevity and general well-being of the animal.Achieving and maintaining healthy body condition scores in pets has been proven to reduce the risk of illness and add to the longevity and general well-being of the animal.</p>
</div>

@section Scripts{
    <script type="text/javascript">
        const calcAgeBtn = document.querySelector('.calc-age-info-open-block');
        const calcAgeText = document.querySelector('.calc-age-info-hidden');

        calcAgeBtn.addEventListener('click', () => calcAgeText.classList.toggle("calc-age-info-active"));
        
        function validateForm() {
            debugger;
            let res = $("#calc-month-input").val();
            if (res > 11) {
                alert("Value must be less than 12 months")
                return false;
            }
            else {

                $.ajax({
                    type: "POST",
                    url: "/Tools/CalcAge",
                    data: {
                        "age": $("#calc-age-input").val(),
                        "month": $("#calc-month-input").val()
                    },
                    success: function (response) {
                        let res = JSON.stringify(response);
                        //$("#calc_result").html(res);
                    }


                });

            }
        }
    </script>
}