@model IQueryable<CatLib.Models.NameGenerator.CatGeneratorName>

@{
    ViewData["Title"] = "Cat Name Generator";
}

<div class="calc-wrapper">
    <div class="calc-header">
        <h3 class="cat-detail-header-name-value">Cat Name Generator</h3>
        <p class="calc-text">
            We have collected the largest database of cat names on the Internet. Which will help you easily choose a name for your cat girl or male cat. If you find it difficult to choose, you can take our easy survey and use it to easily find the right name for your pet.
        </p>
    </div>
    <div class="generator">
        @*<form asp-action="CatNameGenerator">*@
        <div class="generator-filtration-container">
            <div class="generator-filtration-header">
                <div class="generator-filtration-header-right">
                    <img class="generator-filtration-header-img" src="~/img//assets/choseName.png" alt="cat" />
                    <h3 class="generator-filtration-header-title">Choose options</h3>
                </div>
                <button class="generator-filtration-header-clear">Clear ALL</button>
            </div>
            <div class="generator-filtration-main">
                <h3 class="generator-h3">Gender</h3>
                <div class="generator-filtration-gender">
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="gender" name="gender" value="Man" />
                        <span class="label-radio">Male</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="gender" name="gender" value="Girl" />
                        <span class="label-radio" tabindex="2">Female</span>
                    </label>
                </div>
                <h3 class="generator-h3">Color</h3>
                <div class="generator-filtration-color">
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="color" name="color" value="Black" />
                        <span class="label-radio">Black</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="color" name="color" value="White" />
                        <span class="label-radio">White</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="color" name="color" value="Gray" />
                        <span class="label-radio">Gray</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="color" name="color" value="Orange" />
                        <span class="label-radio">Orange</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="color" name="color" value="Multi" />
                        <span class="label-radio">Multi</span>
                    </label>
                </div>
                <h3 class="generator-h3">Hair</h3>
                <div class="generator-filtration-color">
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="hair" name="hair" value="Short" />
                        <span class="label-radio">Short</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="hair" name="hair" value="Long" />
                        <span class="label-radio">Long</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="hair" name="hair" value="Fluffy" />
                        <span class="label-radio">Fluffy</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="hair" name="hair" value="Standart" />
                        <span class="label-radio">Standart</span>
                    </label>
                </div>
                <h3 class="generator-h3">Personality</h3>
                <div class="generator-filtration-personality">
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="personality" name="personality" value="Fancy" />
                        <span class="label-radio">Fancy</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="personality" name="personality" value="Chill" />
                        <span class="label-radio">Chill</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="personality" name="personality" value="Cuddly" />
                        <span class="label-radio">Cuddly</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="personality" name="personality" value="Independet" />
                        <span class="label-radio">Independet</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="personality" name="personality" value="Happy" />
                        <span class="label-radio">Happy</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="personality" name="personality" value="Grumpy" />
                        <span class="label-radio">Grumpy</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input class="radio" type="radio" id="personality" name="personality" value="Sleppy" />
                        <span class="label-radio">Sleppy</span>
                    </label>
                </div>
                <h3 class="generator-h3">Category</h3>
                <div class="generator-filtration-types">
                    <label class="radiobtn" tabindex="1">
                        <input type="checkbox" class="radio" name="category" value="Funnny" id="category" />
                        <span class="label-radio">Funnny</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input type="checkbox" class="radio" name="category" value="Comics" id="category" />
                        <span class="label-radio">Comics</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input type="checkbox" class="radio" name="category" value="Movies" id="category" />
                        <span class="label-radio">Movies</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input type="checkbox" class="radio" name="category" value="Books" id="category" />
                        <span class="label-radio">Books</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input type="checkbox" class="radio" name="category" value="Geeky" id="category" />
                        <span class="label-radio">Geeky</span>
                    </label>
                    <label class="radiobtn" tabindex="1">
                        <input type="checkbox" class="radio" name="category" value="TV" id="category" />
                        <span class="label-radio">TV</span>
                    </label><label class="radiobtn" tabindex="1">
                        <input type="checkbox" class="radio" name="category" value="Sports" id="category" />
                        <span class="label-radio">Sports</span>
                    </label>
                </div>
            </div>
            <div class="genetator-btn">
                <input type="submit" class="genetator-btn-submit" value="Generate Names" onclick="return validateForm()" />
                <img class="genetator-btn-img" src="~/img/assets/pow.png" alt="pow"/>
            </div>
            @*</form>*@
        </div>
        <div class="generaor-name-search-result" >
            <div class="generator-results-header">
                <h3 class="generator-results-header-title">Names for your cat</h3>
            </div>
            <div class="generator-results">
                <p class="generator-name" id="result">Artsiomati</p>
            </div>
        </div>
    </div>
    <div class="calc-info">
        <h3 class="calc-info-title-name">Ideal Weight Means A Longer and Happier Life</h3>
        <p class="calc-info-text">Achieving and maintaining healthy body condition scores in pets has been proven to reduce the risk of illness and add to the longevity and general well-being of the animal.Achieving and maintaining healthy body condition scores in pets has been proven to reduce the risk of illness and add to the longevity and general well-being of the animal.Achieving and maintaining healthy body condition scores in pets has been proven to reduce the risk of illness and add to the longevity and general well-being of the animal.Achieving and maintaining healthy body condition scores in pets has been proven to reduce the risk of illness and add to the longevity and general well-being of the animal.
        </p>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function validateForm() {
            let categorCheckboxes = new Array();
            $("#category:checked").each(function () {
                categorCheckboxes.push($(this).val());
            });
                $.ajax({
                    type: "POST",
                    url: "/Tools/CatNameGenerator",
                    data: {
                        "gender": $("#gender").val(),
                        "hair": $("#hair").val(),
                        "color": $("#color").val(),
                        "personality": $("#personality").val(),
                        "category": categorCheckboxes

                    },
                    success: function (response) {
                        debugger;
                        //  let res = JSON.parse(response);
                        let res = response.join(" ");
                        console.log(res);
                        $("#result").html(res);
                    }


                });

        }
    </script>
}